h2,
h3 {
  padding: 11px 1px;
  margin: auto;
  text-align: left;
}
small {
  color: grey;
  font-size: medium;
}

p {
  margin: 1px;
  padding: 3px;
}
.contact {
  color: grey;
}
.slogan {
  color: #ccab00;
  font-size: 1.5em;
  margin: 7px 0px;
}
.discription {
  padding: 11px;
  padding-left: 1px;
  text-align: justify;
  max-height: 111px;
  overflow: auto;
  line-height: 1.5em;
}

.candidate-info {
  transition: ease all 0.5s;
  height: 100%;
  width: 100%;
  float: left;
  margin-left: 1%;
  padding: 10px;
  background-color: #e5e5e5;
  border-radius: 11px;
}
.candidate-img{
  height: 150px;
  width: 150px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.vote-btn-container {
  transition: ease all 0.5s;
  height: 100%;
  width: 17%;
  float: right;
  align-items: center;
  justify-content: center;
  padding: 17px;
}
.vote-bth {
  width: 100%;
  height: 55px;
  font-size: 157%;
}
.input-r {
  margin: 0.5em;
  margin-left: 0;
  padding: 1em;
  display: block;
  overflow: scroll;
}

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
@media all and (max-width: 900px) {
  .candidate-info,
  .vote-btn-container {
    width: 100%;
    height: 100%;
  }
}

